<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Starting Year of this Dynasty, also note that you need to change this value in utility.js-->
    <add key="StartingYear" value="2013"/>
    
    <!--Default Bowl order Reflecting College Football Playoffs in 2014-->
    <add key ="BowlOrder" value="39, 25, 27, 28, 17, 12, 26"/>

    <!--Pocket Scouts Bowl Order-->
    <!--<add key ="BowlOrder" value="39,1, 27, 25,28,17,26,20,19,11,14,18,8,12,13,7,31,24,5,4,30,9,23,22,10,32,16,21,29,0,6,15,3,2"/>-->
    
    <!--Alternate Stadium Nicknames-->
    <add key="StadiumNickNameOverrides" value="Stadium=276,BeforeWeek=3,NickName=Chicago Kickoff;Stadium=184,BeforeWeek=2,NickName=Mile High Kickoff,RivalryGame=22-23+Rocky Mountain Showdown;"/>
    
    <!--Power 5 conferences via 2014 alignment:  ACC, Big 10, Big 12, SEC, Pac12-->
    <add key="Power5" value="0,1,2,10,11"/>
    
    <!--Power indepdenents of which only ND is considered one in 2014-->
    <add key="PowerInd" value="68"/>
    
    <!--ShowTeamRank e.g. #5 Alabama can be All,Top25,None-->
    <add key="ShowTeamRank" value="All"/>
    
    <!--Poll to use for rankings, may be BCS,Coach,AP-->
    <add key="TeamRankPoll" value="BCS"/>
    
    <!--How many players do you want to appear on the National Stats Leader Boards for each category-->
    <add key="PlayerStatLeaders" value="25"/>

    <!--Schedule Analytics - Level 1 e.g. Win-Loss Record vs Top 15-->
    <add key="Level1TopRanking" value="15"/>

    <!--Schedule Analytics - Level 2 e.g. Win-Loss Record vs Top 25-->
    <add key="Level2TopRanking" value="25"/>

    <!--Schedule Analytics - Level 3 e.g. Win-Loss Record vs Top 45-->
    <add key="Level3TopRanking" value="45"/>

    <!--Schedule Analytics - Best Wins Avg Ranking e.g. The Avg Ranking of your best 6 wins againt FBS competition-->
    <add key="BestWinsAvgRanking" value="8"/>

    <add key="GameIdFwd" value="271=271"/>

    <!--
    Remove these if you aren't in a continuation year
    allows you to continue between dynasty files
    <add key="ContinuationDirectory" value=".\archive\2067_Miami_HC_(15-0)_Week_EOY"/>
    <add key="ContinuationYear" value="55"/>

    <add key="ContinuationDirectory" value=".\archive\2125_Season"/>
    <add key="ContinuationYear" value="113"/>
    <add key="ContinuationDirectory" value=".\archive\2183_Season"/>
    <add key="ContinuationYear" value="171"/>
    -->

    <add key="ContinuationDirectory" value=".\archive\2197_Season"/>
    <add key="ContinuationYear" value="185"/>

    <!--Recruiting Page - Number of players on the Gem's / Bust's Lists -->
    <add key ="RecruitingGemsBusts" value="50"/>
    <add key="PlayoffTeamCount" value="4"/>
    <add key="BowlHistoryLookback" value="5"/>
    <add key="NeutralSiteGamesForRecords" value="271,272,276,273,{184;184}"/>
    <!--WIP DO NOT ENABLE-->
    <add key="ZipFiles" value="false"/>
  </appSettings>
</configuration>